.Pontos{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 20px;
    margin-bottom: 10px; 


}
.Pontos div, label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
   
}
.Pontos span{
    margin-right: 5px;
    margin-top: 10px;
}

.calculadora{
    width: 450px;
}
.ponto {
width: 90%;
height: 30px;
background-color: black;
color: white;
padding: 10px;
border-radius: 8px;
border: NONE;
margin-top: 10px;
} 
 .primeiraLinha{
     display: grid;
     grid-template-columns: 1fr;
     margin-top: 10px;
    
 }
 .botoesCalculo{
     display: grid;
     grid-template-columns: 1fr 1fr ;
     grid-gap: 10px;
     margin-top: 10px;

    }